.atma-light {
  font-family: "Atma", system-ui;
  font-weight: 300;
  font-style: normal;
}

.atma-regular {
  font-family: "Atma", system-ui;
  font-weight: 400;
  font-style: normal;
}

.atma-medium {
  font-family: "Atma", system-ui;
  font-weight: 500;
  font-style: normal;
}

.atma-semibold {
  font-family: "Atma", system-ui;
  font-weight: 600;
  font-style: normal;
}

.atma-bold {
  font-family: "Atma", system-ui;
  font-weight: 700;
  font-style: normal;
}

.inter-uniquifier {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


body {
    font-family: "consolas", sans-serif;
    background: linear-gradient(skyblue, white);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#instructions {
    color: rgb(0, 0, 0);
    font-family: "Inter", system-ui;
    padding: 1px;
    background-color: #f0f0f0;
    border-radius: 10px;
    text-align: center;
    border: 1px solid #005c5c;
}

#copyright {
    color: rgb(0, 0, 0);
    font-family: "Inter", system-ui;
    padding: 1px;
    background-color: #e4e4e4d8;
    border-radius: 10px;
    text-align: center;
    border: 1px solid #21006d;
}

h1 {
    color: #005c5c;   
    font-family: "Atma", system-ui;
}

h2 {
    color:darkblue;
    font-family: "verdana", sans-serif;
}
li {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 10px;
  transition: background-color 0.3s;
}

li:hover {
  background-color: #c2c2c2; /* Hover effect */
}

button {
    color: white;
    background-color: #005c5c;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
button:hover {
    background-color: #862d2d;
}

